.newContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
}

.formNew {
  width: 300px;
  padding: 2.5rem 1.5rem;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 28px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 28px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 28px -9px rgba(0, 0, 0, 0.75);

}

.logo p {
  /* font-size: 15px; */
  font-weight: 600;
  margin-top: 10px;
}

.title {
  width: 35%;
  font-size: 42px;
  font-weight: bolder;
  letter-spacing: 3px;
  text-align: center;
}